<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>  

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
        <link href="bootstrap.css" rel="stylesheet" type="text/css"/>
        <title>AngularJS $http Rest example</title>  
        <link href="bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript">
            var app = angular.module("CountryManagement", []);
            //Controller Part
            app.controller("CountryController", function ($scope, $http) {
                $scope.countries = [];
                $scope.countryForm = {
                    id: -1,
                    countryName: "",
                    population: ""
                };

                //Now load the data from server
                _refreshCountryData();
                //HTTP POST/PUT methods for add/edit country 
                // with the help of id, we are going to find out whether it is put or post operation
                $scope.submitCountry = function () {
                    var method = "";
                    var url = "";
                    if ($scope.countryForm.id == -1) {
                        //Id is absent in form data, it is create new country operation
                        method = "POST";
                        url = 'rest/countries';
                    } else {
                        //Id is present in form data, it is edit country operation
                        method = "PUT";
                        url = 'rest/countries';
                    }
                    $http({
                        method: method,
                        url: url,
                        data: angular.toJson($scope.countryForm),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(_success, _error);
                };

                //HTTP DELETE- delete country by Id
                $scope.deleteCountry = function (country) {
                    $http({
                        method: 'DELETE',
                        url: 'rest/countries/' + country.id
                    }).then(_success, _error);
                };

                // In case of edit, populate form fields and assign form.id with country id
                $scope.editCountry = function (country) {

                    $scope.countryForm.countryName = country.countryName;
                    $scope.countryForm.population = country.population;
                    $scope.countryForm.id = country.id;
                };

                /* Private Methods */
                //HTTP GET- get all countries collection
                function _refreshCountryData() {
                    $http({
                        method: 'GET',
                        url: 'http://localhost:8080/angularRestcrud/rest/countries'
                    }).then(function successCallback(response) {
                        $scope.countries = response.data;
                    }, function errorCallback(response) {
                        console.log(response.statusText);
                    });
                }

                function _success(response) {
                    _refreshCountryData();
                    _clearFormData()
                }

                function _error(response) {
                    console.log(response.statusText);
                }

                //Clear the form
                function _clearFormData() {
                    $scope.countryForm.id = -1;
                    $scope.countryForm.countryName = "";
                    $scope.countryForm.population = "";

                }
                ;
            });
        </script>

    </head>
    <body ng-app="CountryManagement" ng-controller="CountryController">
        <h1>
            AngularJS Restful web services example using $http
        </h1> 
        <form ng-submit="submitCountry()">
            <table class="table table-responsive table-bordered">
                <tr>
                    <th colspan="2" class="">Add/Edit country</th>
                </tr>
                <tr>
                    <td>Country</td>
                    <td><input type="text" ng-model="countryForm.countryName" /></td>
                </tr>
                <tr>
                    <td>Population</td>
                    <td><input type="text" ng-model="countryForm.population"  /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" class="btn btn-info" /></td>
                </tr>
            </table>
        </form>
        <table class="table table-responsive">
            <tr>
                <th>CountryName</th>
                <th>Population</th>
                <th>Operations</th>
            </tr>
            <tr ng-repeat="country in countries">
                <td> {{ country.countryName}}</td>
                <td >{{ country.population}}</td>
                <td><a ng-click="editCountry(country)" class="btn btn-info">Edit</a> | <a ng-click="deleteCountry(country)" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </body>
</html>
